@import "../styles/colors";
@import "../styles/font";

%flex{
        display: flex;
        align-items: center;
        justify-content: center;
}

//mobile buttons style
%mobile-buttons{
        padding: 15px;

        text-decoration: none;
        color: $secondary-color;
        border-bottom: 1px solid $secondary-color;

        transition: ease-out 0.5s;
        transition-delay: 0.3s;
        
        &:active,
        &:visited:active{
                background-color: $secondary-color;
                color: $main-color;
                border-color: $main-color;
                transform: scale(0.9);
                transition: ease-out 0.5s;
                }
}

//#About, #Skills, #Contacts buttons
.dropdown{
        padding: 0;
        margin: 0;

        li{
                list-style-type: none;
                h6{
                        margin: 0;
                        a{
                                display: block;
                                @extend %mobile-buttons;
                        }          
                } 
        }
}

//submit button
.submit-button{
        @extend %mobile-buttons;
        width: 215px;
        padding: 5px 10px;
        cursor: pointer;
        background-color: $secondary-background;
        color: $secondary-color;
        border: 0;
        box-shadow: $half-shadow;
        }


@media only screen and (min-width: 768px){
%desktop-buttons{
                padding: 10px 20px;
                margin: 0;
                width: 100px;
                border: 1px solid $secondary-color;
                
                margin-top: 15px;

                transition: ease-out 0.5s;
                transition-delay: 0.3s;
                &:link,
                &:visited{
                padding: 10px 20px;
                }

                &:hover,
                &:visited:hover {
                background-color: $secondary-color;
                color: $main-color;
                border-color: $main-color;

                transition: ease-out 0.5s;
        }
}

.dropdown {
        a{
                @extend %desktop-buttons;
                text-align: center;
                border-bottom: 2px solid $secondary-color !important;
                &:hover{
                        border-bottom: 1px solid !important;
                }
        }    
}
.submit-button{
        @extend %desktop-buttons;
        width: 461px;
        border: 0;
}        
}


